@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&display=swap");

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);
  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--dark-blue);
  height: 100vh;
  margin: 0;
}

header {
  min-height: 50px;
}

footer {
  min-height: 50px;
  background: var(--neon-green);
  color: var(--dark-blue);
}

/* Trick */
body {
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  display: flex;
  place-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: 3px;
}

header ul li {
  list-style: none;
}

header ul li a {
  text-decoration: none;
}

.logo {
  text-decoration: none;
  color: var(--neon-green);
  margin-top: 15px;
}

/* container */
.container {
  display: flex;
  justify-content: center;
  padding-top: 54px;
}

h1 {
  font-size: 16px;
  color: var(--neon-green);
}

.box {
  width: 600px;
  height: 400px;
  border-radius: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  flex-direction: column;
  background: var(--dark-grayish-blue);
  color: var(--light-cyan);
}

.box p {
  width: 80%;
  text-align: center;
  margin: 24px 0;
}

.btn {
  margin-top: 40px;
  border-radius: 50%;
  padding: 12px;
  background: var(--neon-green);
  cursor: pointer;
  text-align: center;
}

.btn img {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: var(--dark-blue);
}

/* Responsive styles*/
@media screen and (max-width: 480px) {
  footer {
    display: none;
  }

  .logo {
    font-size: 1rem;
  }

  .box {
    width: 400px;
    height: 400px;
  }

  .divider {
    width: 70%;
  }
}
